body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5cdb95
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  text-decoration: line-through;
}


h2, p, a {
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
}

.fplNav {
  background: #05386B;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.toolLink {
  color:#05386B;
  width:100%;
  margin: 0px;
  margin-top: 18px;
  transition: all 0.5s;
    -moz-transition: all 0.2s linear; /* Firefox 4 */
    -webkit-transition: box-shadow 0.5s ease-out; /* Safari and Chrome */
    -o-transition: all 0.2s linear; /* Opera */
    -ms-transition: all 0.5s linear; /* Explorer 10 */
}

.toolLink:hover {
  color:white;
  box-shadow: inset 3000px 0 0 0 #379683;
}

.toolLink:link {
  text-decoration:none;
}

.container {
  background: #5cdb95;
  padding:0;
  height: 100vh;
}

.navbar {
  width:100%;
}

html, body {
    height:100vh;
}